body {
    font-family: "Laila", serif;
}
h1{
    font-size: 65px;
    line-height: 157%;
    color: #DD9050;
}
h2{
    font-size: 50px;
    color: #503C2D;
    width: 235px;
}

h3 {
    font-size: 35px;
    color: #503C2D;
    position: relative;
    bottom: -1%;
}

.container{
    display: flex;
    justify-content: center;
}

.header{
    background-color: rgba(148.64, 134.45, 126.47, 1) !important;
    height: 65px;
    width: 100%;
}

.header-link{
    text-decoration: none;
    color: white !important;
    margin: 15px 50px 15px 30px;
    font-size: 20px;
    font-weight: 500;
}

.container{
    display: flex;
}
.main-introductory-container{
    margin-top: 190px;

}

.second-intro-container {
    display: flex;
    height: 40%;
    width: 79%;
}

.profile-image {
    position: relative;
    bottom: 3%;
    height: 101%;
}

.arrow-image-container{
    height: 271px;
}
.app-images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.nav-arrow-up, .nav-arrow-down{
    position: relative;
    background:none;
    border: none;
    height: 0%;
}
.nav-arrow-up{
    bottom: 80%;
}
.nav-arrow-down{
    bottom: 39%;
}
.app-image-secondary{
    margin: 20px;
    opacity: 0.6;
}

@media (max-width: 992px) {

    .profile-image {
        width: 54%;
        position: relative;
        bottom: 6%;
        right: 0%;
        height: 103%;
    }
    h1{
        font-size: 60px;
        line-height: 159%;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 32px;

        right: 7%;
    }
    .main-introductory-container{
        margin-top: 135px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .second-intro-container{
        height: 81%;
    }

    .app-images-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: auto;
        justify-content: center;
    }

    .app-image-secondary {
        margin: 20px;
        height: 78%;
        margin-top: 6%;
        max-width: initial;
    }

    .app-image-main {
        width: 80%;
        height: 72%;
    }
    .nav-arrow-up, .nav-arrow-down {

        width: 0%;
        transform: rotate(-90deg);
    }

    .nav-arrow-up {
        top: -25%;
        left: 41%;
    }

    .nav-arrow-down {
        top: -25%;
        right: -36%;
    }
}

@media (max-width: 768px) {

    .nav-arrow-up {
        top: -25%;
        left: 57%;
    }
    .nav-arrow-down {
        top: -25%;
        right: -17%;
    }
    .profile-image {
        margin-left: 0%;
        right: 10%;
    }
}

@media (max-width: 619px){
    .header {
        height: 54px;
    }

    .main-introductory-container {
        margin-top: 80px;
        text-align: center;
    }
    .second-intro-container {
        width: 56%;
    }

    .profile-image {
        width: 38%;
        margin-left: 0%;
        bottom: 3%;
        height: 99%;
        right: 14%;
    }

    h1 {
        font-size: 36px;
        line-height: 150%;
    }
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
        bottom: 0%;
        right: 0%;
    }

}

@media (max-width: 576px) {
/*    h1 {
        font-size: 37px;
        line-height: 146%;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 18px;
        bottom: 34%;
        right: -3%;
    }
    .profile-image {
        width: 46%;
        margin-left: 0%;
        bottom: 18%;
        height: 82%;
        right: 5%;
    }
    .main-introductory-container {
        position: relative;
        right: 10%;
    }
    .second-intro-container {
    text-align: left;
    }*/

}

/*@media (max-width: 554px) {
    .main-introductory-container {
        position: relative;
        right: 13%;
    }
}
@media (max-width: 554px) {
    .main-introductory-container {
        position: relative;
        right: 16%;
    }
}
@media (max-width: 473px) {
    .main-introductory-container {
        position: relative;
        right: 20%;
    }
}*/

@media (max-width: 417px) {
/*    h2 {
        font-size: 33px;
    }
    h1 {
        font-size: 41px;
        line-height: 57px;
    }
    .profile-image {
        height: 100%;
        width: 69%;
        bottom: 18%;
        right: 35%;
    }
    h3 {
        font-size: 26px;
        bottom: 22%;
        margin-left: 5%;
    }*/
    .nav-arrow-up {
        top: 50%;
        left: 57%;
    }
    .nav-arrow-down {
        top: 50%;
        right: 73%;
    }
    .arrow-img {
        width: 80px;
    }
}